<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Auto Yerres</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/static/css/404.css">
</head>

<body>
    <h1 class="errorcode">[ERROR 404]</h1>
    <img class="logo" src="/static/logo/image-removebg-preview (1).png" alt="logo" />
    <h2>REVENEZ A LA <a href="/">[PAGE D'ACCUEIL]</a></h2>

    </body>
