<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Auto Yerres</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/homeadmin.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="sidebar"></div>
    <div class="pguser">
        <div class="admin">
            <img class="profil_img" src="static/logo/logo1AutoY.png"/>
            <a class="txt">MY ADMIN</a>
        </div>

        <div class="admin1">
        <a href="/homeadmin" class="txt">Annonces<br>
            <i class="fa fa-folder"></i>
            </a>
            </div>

            <div class="admin1">
        <a href="/404" class="txt">Messages<br>
            <i class="fa fa-envelope"></i></a>
        </div>

        <div class="admin1">
        <a href="#" class="txt" > Paramètres<br>
            <i class="fa fa-gear"></i></a>
        </div>
        <div class="admin2">
            <a href="/" class="txt">Déconnexion</a>
        </div>
        
    </div>

        
    <main class="main">
        <div class="title">
        <h1 class="title_page">Catalogue des véhicules</h1>
        </div>
        <div class="contain">
            <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
                    <i class="far fa-search"></i>
					
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="card">
			<div class="img-cover">
				<img class="picture" src="/static/images/BMW_Z4.jpg" alt="BMW_Z4">
                <div class="icon">
					<svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333
						9.8L12 16.5" stroke="black" stroke-width="3"/>
					</svg>
				</div>

				<div class="desc">
					<h1>BMW Z4</h1>
                    <p class="tdesc">E85</p>
                    <p class="tdesc">Année 2007</p><p>110 000 km</p>

					<a href =""> Modifier</a>
                        <a href =""> Supprimer</a>
                </div>
            </div>
        </div>
        </div>
    </main>
    
</body>

