<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Auto Yerres</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/adstyles.css"> 
<link rel="stylesheet" href="/static/css/usstyles.css"> 
</head>


    <header class="header">
    <div class="logo_header">
    <img src="/static/logo/logo1AutoY.png" alt="logo" />
    </div>
    <div class="title_header">
        <img class="logo" src="/static/logo/image-removebg-preview (1).png" alt="logo" />
        <!-- <h1>AUTO YERRES</h1>
        <h2>47 rue Royale</h2>
        <h2>91330 YERRES</h2>
        <h2>Tél : 01.76.28.03.75</h2> -->
    </div>

    <div class="right_side_header">
        <a href="/contact" class="btn">Contactez-nous 01.76.28.03.75</a>
        <a href="/login" class="btn" >Connexion</a>
    </div>

</header> 

 <nav class="navbar">
    <a class="navbar_title" href="/">Accueil</a>
    <a class="navbar_title" href="/">Nos véhicules</a>
    <a class="navbar_title" href="/services">Nos services</a>
    <a class="navbar_title" href="/contact">Qui sommes-nous ?</a>
  </nav>

  <div class="search_box">
    <div class="search_box_container">
    <h2 class="search">Recherche</h2>

    <h3 class="required">Marque</h3>
    <form action="/search" method="get">
       <select name="brand" id="brand">
        <option value=" null">Indifférent</option>
        <option value="BMW">BMW</option>
        <option value="Volkswagen">Volkswagen</option>
       </select>
    </form>

    <h3 class="required">Modèle</h3>
    <form action="/search" method="get">
       <select name="model" id="model">
        <option value=" null">Indifférent</option>
        <option value="Z4">Z4</option>
        <option value="GolfV">Golf V</option>
       </select>
    </form>

    <h3 class="required">Carburant</h3>
    <form action="/search" method="get">
       <select name="engine" id="engine">
        <option value=" null">Indifférent</option>
        <option value="Gasoil">Gasoil</option>
        <option value="Essence">Essence</option>
       </select>
    </form>

    <h3 class="required">Prix</h3>
    <form action="/search" method="get">
       <select name="price" id="price">
        <option value=" null">Indifférent</option>
        <option value="14995">14995€</option>
        <option value="7000">7000€</option>
       </select>
    </form>
    
    <input class="button" type="submit" value="Lancer la rechercher">
    </div>
  </div>

  <a class="title_menu" href="/contact">Qui sommes-nous ?</a>
<body>
    
    <main>
        <div class="app">
            <div class="presentation">
                 
                    <div class="imgautoY"><img src="/static/logo/autoYdevanture.png" alt="" > </div>
                    <div class="introduction">
            <p>Passionnés par les voitures sportives, nous avons décidé de créer notre garage Auto Yerres en 2014.
            Nous voulons vous transmettre notre passion et notre expérience afin 
                de vous proposer une sélection de véhicules d'occasion à des prix attratifs.
               Nous privilégions la qualité et le service ...</p>
        
            <p> Nos véhicules de toutes marques sont garanties 3 mois avec une extension possible jusqu'à 36 mois.</p>
            <p> Nous sommes partenaire d'allianz d'Hennezel.</p>
        
            <p>Nous nous chargeons de la révison ainsi que le contrôle technique.
            Et nous occupons <strong>intégralement </strong>de toutes les démarches en préfecture.</p>
        </div>
        </div>
    
        <div class="adress">
<div class="info_adress">
            <h3>Nous sommes heureux de vous accueillir</h3>
            <hr>
            
            <p>du lundi au samedi </p>
            <p>de 10h à 13h et </p>
            <p>de 14h à 18h30</p>

            <hr>
            
            <p>47 rue Royale</p>
            <p>91330 YERRES</p>
            <p>Tél : 01. 76. 28. 03. 75</p>
            <p>Email : autoyerres@gmail.com</p>

            <hr>
            
            <p>Bonne visite et à bientôt !</p>
            <p>L'équipe Auto Yerres</p>
           </div>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.0757980596472!2d2.500769752519216!3d48.72204536393764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e60a4554621611%3A0x1f8529bba8e07056!2s47%20Rue%20Royale%2C%2091330%20Yerres!5e0!3m2!1sfr!2sfr!4v1661506056714!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        
        </div>

        </div>
    </main>
</body>